:root {
  --neutral-50: #fafafa;
  --neutral-900: #18181b;
  --neutral-950: #0a0a0a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter-tight {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h2,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
}

body {
  font-family: "Inter Tight", sans-serif;
  background-color: var(--neutral-900);
  color: var(--neutral-50);
}

.app {
  display: flex;
  gap: 1em;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  height: 100vh;

  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  background-color: var(--neutral-950);
  color: var(--neutral-50);
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: start;
  background-color: transparent;
  color: var(--neutral-50);
  font-weight: 600;
  border-radius: 4px;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.sidebar-item:hover {
  background-color: var(--neutral-900);
  transition: background-color 0.2s ease-in-out;
}
